$primery-blue: #4C7DFE;

$font-grey: #727079;
$font-white: #ffffff;

$vartical-line: #E2E2E2;

$msgInput-background: #F5F5F5;

$msgReceive-background: #F6F6F6;
$msgSend-background: #0084FF;

$error-color: #FF3232;